<div class="container mt-5">   
    @if (!registerToggle) {
        <div class="" style="text-align: center">
            <h1>Find you match</h1>
            <p class="lead">Come on into view matches... all you need to sign up! </p>
            <div class="text-center">
                <button class="btn btn-primary me-2 btn-large" (click)="registerMode()">Register</button>
                <button class="btn btn-info me-2 btn-large">Learn more</button>
            </div>
        </div>
    }@else {
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-4">
                    <app-register></app-register>
                </div>
            </div>
        </div>
    }
    
</div>
